/* Global and Structure */


.home {
	background: pink;
	}
	
.gallery {
	background: teal;
	}
	
.container {
	overflow: auto;
	background: black;
	margin: 0 auto;
	width: 960px;
	}
/* Nav */

.home #home {
	background: red;
	font-weight: bold;
	}

.gallery #gallery {
	background: red;
	font-weight: bold;
	}
	
	nav {
		float: left;
		width: 960px;
		}
	
nav li {
	float: left;
	margin: 20px;
	padding: 30px;
	background: green;
	list-style: none;
	}
	
/* Gallery */

section {
	position: relative;
	
	float: left;
	margin: 20px;
	background: aliceblue;
	border: 10px solid white;
	}
	

h3 {
	color: white;
}

section h3 {
	position: absolute;
	top: 0;
	right: -50px; 
	background: magenta;
	}